$color-main-1: #000;
$color-main-2: #fff;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: aqua;
}

.baner {
  min-height: 80vh;
  background-image: url(../assets/welcome_image_2.webp);
  background-position: center 60%;
  background-size: cover;
  position: relative;
  &__title {
    padding-top: 30px;
    font-size: 8vw;
    text-align: center;
    width: 100%;
    &_italic {
      font-size: 9vw;
      font-style: italic;
      font-family: 'Cormorant-garamond';
    }
  }

  &__link {
    @include flexCenter();
    width: 150px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    background-color: $color-main-2;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-main-1;
  }
}
