@font-face {
  font-family: 'Cormorant-garamond';
  src: url('../fonts/cormorant-garamond-v7-latin-ext_latin_cyrillic-regular.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'WixMadeFor';
  src: url('../fonts/WixMadeforTextVF_W_Wght.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
}