.modal {
  position: fixed;
  background-color: rgb(40 106 84 / 47%);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s 
}

.modal__visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.modal__content {
  max-width: 400px;
  background: #FFF;
  min-height: 300px;
  box-shadow: 0px 2px 7px 2px #00000059;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}